.hovered {
  background: {
    repeat: no-repeat;
    position-x: center;
    position-y: center;
    size: cover;
  }
}


.project {
  min-height: 100vh;
  padding: 10%;
  max-width: 100em;
  margin: auto;

  img {
    width: 100%;
  }

  .google {
    margin: 0 20em 0 9em;

    p {
      padding: .5em;
    }
  }

  .hornbach {
    margin: 0 34em 0 7em;

    p {
      padding: .5em;
    }
  }

  .cnn {
    margin: 0 0 0 33em;

    p {
      padding: .5em;
      text-align: right;
    }
  }

  .adidas {
    margin: 0 19em 0 13em;

    p {
      padding: .5em;
    }
  }

  .godaddy {
    margin: 0 25em 0 10em;

    p {
      padding: .5em;
    }
  }

  .fanta {
    margin: 0 0 0 30em;

    p {
      padding: .5em;
    }
  }

  .lole {
    margin: 0 15em 0 20em;

    p {
      padding: .5em;
    }
  }

  .att {
    margin: 0 0 0 33em;

    p {
      padding: .5em;
      text-align: right;
    }
  }

  .netjets {
    margin: 0 10em 0 22em;

    p {
      padding: .5em;
    }
  }

  .ibm {
    margin: 0 25em 0 10em;

    p {
      padding: .5em;
    }
  }

  .jager {
    margin: 0 19em 0 13em;

    p {
      padding: .5em;
    }
  }

  .netwerking {
    margin: 0 15em 0 14em;

    p {
      padding: .5em;
      text-align: right;
    }
  }

  .theyskens {
    margin: 0 15em 0 20em;

    p {
      padding: .5em;
    }
  }

  .bals {
    margin: 0 15em 0 25em;

    p {
      padding: .5em;
      text-align: right;
    }
  }
}

// Preload background images for navigation
body:after {
  position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
  content:
    image-url("images/intro/adidas.jpg")
    image-url("images/intro/at&t.jpg")
    image-url("images/intro/bals.jpg")
    image-url("images/intro/cnn.jpg")
    image-url("images/intro/fanta.jpg")
    image-url("images/intro/godaddy.jpg")
    image-url("images/intro/google.jpg")
    image-url("images/intro/hornbach.jpg")
    image-url("images/intro/ibm.jpg")
    image-url("images/intro/jager.jpg")
    image-url("images/intro/lole.jpg")
    image-url("images/intro/matei.jpg")
    image-url("images/intro/netjets.jpg")
    image-url("images/intro/netwerking.jpg")
    image-url("images/intro/theyskens.jpg");
}
